<link rel="stylesheet" href="/css/mystyle.css">

<div class="box-navicat">
    <a href="/">Главная</a>
    <a href="/news/society">Общество</a>
    <a href="/news/economy">Экономика</a>
    <a href="/news/sport">Техноблок</a>
    <a href="/news/business">Бизнес</a>
    <a href="/news/tech">tech</a>
    <a href="/news/kyrgyz">Кыргызча</a>
</div>