<header>
    <link rel="stylesheet" href="/css/mystyle.css">
    <div class="nav">
        <div>
            <img class="img-logo" src="https://24.kg/assets/7a772a43/images/logo.png" alt="">
        </div>
        <div>
            <input placeholder="Поиск" type="text" class="input">
            <button class="btn-search">Search</button>
        </div>
        <div>
            <img class="img-logo" src="https://24.kg/assets/7a772a43/images/logo.png" alt="">
        </div>
    </div>
    <%- include('./__nav.ejs') %>
</header>